@import "../../styles/abstracts/variables";

.tickets {
  background-color: $bg-color;
  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &_film_content {
    width: 100%;
    height: 804px;
    background-image: url("./img/tickets_bg.png");
  }
}
