* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  color: #000000;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.mr-30 {
  margin-right: 30px;
}
button {
  cursor: pointer;
}
.orange__line {
  width: 100%;
  height: 1px;
  margin-bottom: 45px;
  background: #e8920b;
}
